.price {
  position: absolute;
  top: 50vh;
  left: 50px;
  width: 300px;
  height: 80px;
  color: white;
  font-size: 50px;
}

.modify-btn {
  position: absolute;
  display: flex;
  top: 80vh;
  left: 50px;
  width: 300px;
  height: 80px;
  color: white;
  font-size: 50px;
}
